.header-container {
    position: fixed;
    height: 85px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    gap: 120px;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    z-index: 1000;
}
.header-left-section {
    display: flex;
    gap: 50px;
    align-items: center;
}
.header-components {
    display: flex;
    align-items: center;
    font-size: 17px;
    gap: 30px;
    color: rgb(57, 56, 56);
}
.header-components p a{
    font-style: none;
    text-decoration: none;
    color: rgb(57, 56, 56);
}
.header-components p:hover {
    cursor: pointer;
}
.header-right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-title:hover {
    cursor: default;
}
.header-icon {
    background: linear-gradient(to bottom right, #2563eb, #9333ea);
    color: white;
    font-weight: bold;
    padding: 7px 13px 8px 13px;
    border-radius: 50%;
    align-items: center;
}
.header-name {
    font-size: 25px;
    font-weight: 700;
}
.header-get-started {
    background: linear-gradient(to right, #2563eb, #9333ea);
    color: white;
    padding: 9px 13px 10px 13px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.header-get-started:hover {
    background: linear-gradient(to right, #1d4ed8, #7e22ce);
}
.header-login-btn {
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: white;
    padding: 10px 13px 8px 13px;
}
.header-login-btn:hover {
    background: rgb(217, 216, 216);
    border-radius: 8px;
    padding: 10px 13px 8px 13px;
}
.header-get-started a{
    font-style: none;
    text-decoration: none;
    color: white;
}
.header-get-started a:hover {
    cursor:default;
}
.username {
    position: relative;
    background: linear-gradient(to bottom right, #9333EA, #DB2777);
    border-radius: 50%;
    color: white;
    padding: 10px 16px 10px 16px;
}
.username:hover {
    cursor: default;
}
.username span {
    font-size: 21px;
    font-weight: 600;
}
.header-logout {
    position: absolute;
    z-index: 1000;
    background-color: white;
    /* border: 1px solid black; */
    
    border-radius: 8px;
    box-shadow: 
  0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
  left: -10px;
  top: 70px;
  transition: all;
  color: black;
  display: flex;
  flex-direction: column;
}
.popup-name {
    border: 1px solid rgb(116, 116, 116);
    padding: 10px 20px 10px 20px;
}
.popup-name:hover {
    background-color: rgb(194, 193, 193);
}
.popup-logout {
    border: 1px solid rgb(116, 116, 116);
    padding: 10px 20px 10px 20px;
}
.popup-logout:hover {
    background-color: rgb(194, 193, 193);
}